.similar-products {
  margin-bottom: 2rem;
  margin-top: 4rem
}

.similar-products .header-title {
  text-align: center;
}

.similar-products .card {
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  height: 265px;
  margin: 3.5rem 0;
}

.similar-products .card-img {
  border-radius: 8px;
  height: 120px;
  width: 327px;
}

.similar-products h1 {
  font-size: 24px;
  font-weight: 700;
  letter-spacing: 1.7px;
  line-height: 32px;
}

.similar-products button {
  background-color: #D87D4A;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  height: 48px;
  letter-spacing: 1px;
  line-height: 18px;
  width: 160px;
}

@media screen and (min-width: 700px) {
  .similar-products {
    margin-bottom: 4rem;
  }

  .similar-products .cards-container {
    display: flex;
      gap: 1rem;
  }

  .similar-products .card {
    height: 471px;
  }

  .similar-products .card-img {
    height: 318px;
    width: 223px;
  }
}

@media screen and (min-width: 1200px) {
  .similar-products {
    margin-bottom: 6rem;
  }
  
  .similar-products .cards-container {
    display: flex;
      gap: 2rem;
  }

  .similar-products .card-img {
    width: 350px;
  }
}