.hero-banner {
  background: url(/src/assets/home/mobile/image-header.jpg);
  background-color: #1A1A1A;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  color: #FFFFFF;
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  height: 600px;
  width: 100%;
}

.advert {
  margin-top: 5.5rem;
  padding: 2rem;
  text-align: center;
  width: clamp(300px, 100%, 475px);
}

.advert .sup-head {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 10px;
  opacity: 50%;
}

.advert .headline {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 2.5rem;
  margin: 1rem 0;
}

.advert .sub-head {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 2rem;
  opacity: 75%;
}

.advert button {
  background-color: #D87D4A;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  height: 48px;
  letter-spacing: 1px;
  line-height: 18px;
  width: 160px;
}

.advert button:hover {
  background-color: #FBAF85;
}

/* TABLET MEDIA SIZING */
@media screen and (min-width: 600px) {
  .hero-banner {
    background: url('../../assets/home/tablet/image-header.jpg');
    background-color: #1A1A1A;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 729px;
  }

  .advert {
    margin-top: 1rem;
  }

  .advert .headline {
    font-size: 56px;
    letter-spacing: 3px;
    line-height: 58px;
  }
}


/* DESKTOP SIZING */
@media screen and (min-width: 1200px) {
  .hero-banner {
    background: url(/src/assets/home/desktop/image-hero.jpg);
    background-color: #1A1A1A;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    align-items: flex-start;
    padding-left: 6rem;
  }

  .advert {
    margin-top: 90px;
    text-align: left;
  }

  .advert .sub-head {
    padding-right: 3rem;
  }
}