.navbar {
  background-color: black;
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  color: white;
  display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
  padding: 2rem;
  position: fixed;
    top: 0;
    z-index: 1;
  width: 100%;
}

.home .navbar {
  background-color: #191919;
}

.navbar a {
  display: flex;
}

.product-category .navbar,
.product-details .navbar {
  position: fixed;
}

.product-details .navbar {
  background-color: black;
  position: fixed;
  width: 100%;
}

.navbar .hamburger {
  cursor: pointer;
}

.navbar button {
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  display: inline-flex;
    align-items: center;
}

.navbar button img {
  height: 20px;
  margin-right: 5px;
  width: 23px;
}

.navbar ul {
  display: none;
}

.navbar .cart-btn:hover {
  color: #D87D4A;
}

.navbar .cart-btn:hover > .cart {
  background: #D87D4A;
}

.navbar .cart {
  background: white;
  cursor: pointer;
  mask-size: cover;
  height: 20px;
  width: 23px;
  mask: url(../../assets/shared/desktop/icon-cart.svg);
}

@media screen and (min-width: 700px) {
  .navbar {
    gap: 2rem;
  }

  .navbar .logo-link {
    margin-right: auto;
  }
  
  .navbar .cart {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    padding: 0;
    position: absolute;
    width: 80%;
  }

  .navbar .hamburger {
    display: none;
  }

  .navbar .logo-link {
    margin: 0;
  }

  .navbar ul {
    display: flex;
      align-items: center;
    font-size: 13px;
    font-weight: 700;
    gap: 2.5rem;
    height: 3rem;
    letter-spacing: 2px;
    line-height: 25px;
    list-style: none;
  }

  .navbar a {
    color: white;
    cursor: pointer;
    padding: 1rem 0;
    text-decoration: none;
  }

  .navbar a:hover {
    color: #D87D4A;
  }

  .navbar .cart {
    margin-left: auto;
  }

}