.navbar {
  border-bottom: solid 1px rgba(255, 255, 255, 0.1);
  color: white;
  display: flex;
    align-items: center;
    justify-content: space-between;
    height: 90px;
  padding: 2rem;
  position: absolute;
  width: 100%;
}

.navbar a {
  display: flex;
}

.product-category .navbar,
.product-details .navbar {
  background-color: black;
  position: relative;
}

.navbar button {
  background: transparent;
  border: none;
  cursor: pointer;
  height: 30px;
  width: 30px;
}

.navbar ul {
  display: none;
}

@media screen and (min-width: 700px) {
  .navbar {
    gap: 2rem;
  }

  .navbar .logo-link {
    margin-right: auto;
  }
  
  .navbar .cart {
    margin-left: auto;
  }
}

@media screen and (min-width: 1200px) {
  .navbar {
    padding: 0;
    width: 80%;
  }

  .navbar .hamburger {
    display: none;
  }

  .navbar .logo-link {
    margin: 0;
  }

  .navbar ul {
    display: flex;
      align-items: center;
    font-size: 13px;
    font-weight: 700;
    gap: 2.5rem;
    height: 3rem;
    letter-spacing: 2px;
    line-height: 25px;
    list-style: none;
  }

  .navbar a {
    color: white;
    cursor: pointer;
    padding: 1rem 0;
    text-decoration: none;
  }

  .navbar a:hover {
    color: #D87D4A;
  }

  .navbar .cart-link {
    width: 143px;
  }

  .navbar .cart {
    margin-left: auto;
  }
}