.order-confirmation {
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: left;
  position: absolute;
  height: 100%;
  width: 100%;
}

.order-confirmation .card {
  background-color: white;
  display: flex;
    align-items: left;
    flex-direction: column;
    gap: 1rem;
    justify-content: center;
  position: relative;
    top: 224px;
  padding: 1.5rem;
  width: 327px;
}

.order-confirmation .card .checkmark {
  background-color: #D87D4A;
  border-radius: 100%;
  color: white;
  display: flex;
    align-items: center;
    justify-content: center;
  height: 64px;
  width: 64px;
}

.order-confirmation .thanks1,
.order-confirmation .thanks2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}

.order-confirmation .sub-head {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  opacity: 0.5;
}

.order-confirmation button {
  background-color: #D87D4A;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  height: 48px;
  letter-spacing: 1px;
  line-height: 18px;
}

.order-confirmation button:hover {
  background-color: #FBAF85;
}