.product-category {
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
}

.product-category .header {
  background-color: black;
  color: white;
  display: flex;
    align-items: center;
    justify-content: center;
  font-size: 28px;
  height: 90px;
  letter-spacing: 2px;
  line-height: 38px;
  margin-bottom: 3rem;
  margin-top: 90px;
  padding: 2rem;
  width: 100%;
}

.product-category .error {
  margin-top: 150px;
}

.product-category .product-overview .info{
  width: 327px;
}

.product-category .product-overview .shopping {
  display: none;
}

@media screen and (min-width: 700px) {
  .product-category .header {
    height: 120px;
    padding: 0;
  }
  .product-category .product-overview .info{
    padding: 0 3.5rem;
    width: 690px;
  }

  .product-category .product-overview .info .speakers{
    padding: 0 6rem;
  }

  .product-category .nav-menu {
    margin-bottom: 2rem;
  }
}

@media screen and (min-width: 1200px) {
  .product-category .navbar {
    padding: 0 4rem;
    width: 100%;
  }

  .product-category .product-overview .info .speakers {
    padding: 0;
    padding-right: 14rem;
  }

  .product-category .nav-menu {
    margin-bottom: 6rem;
    margin-top: 9rem;
  }

  .product-category .about {
    margin-top: 3rem;
  }
}