.product-overview {
  display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  margin: 1.5rem 0;
}

.product-overview .category-img {
  border-radius: 8px;
  height: 352px;
  width: 327px;
}

.product-overview .info {
  margin-bottom: 4rem;
  text-align: center;
}

.product-overview .sup-head {
  color: #D87D4A;
  display: block;
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 10px;
  margin-top: 1.5rem;
}

.product-overview .headline {
  font-size: 28px;
  font-weight: 700;
  letter-spacing: 1px;
  line-height: 38px;
  margin: 1.5rem 3rem;
}

.product-overview .speakers {
  margin: 1.5rem 5rem;
}

.product-overview  .sub-head {
  font-size: 15px;
  font-weight: 500;
  line-height: 25px;
  margin-bottom: 1.5rem;
  opacity: 50%;
}

.product-overview button {
  background-color: #D87D4A;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  height: 48px;
  letter-spacing: 1px;
  line-height: 18px;
  width: 160px;
}

.product-overview button:hover {
  background-color: #FBAF85;
}

@media screen and (min-width: 700px) {
  .product-category .product-overview {
    width: 690px;
  }

  .product-overview .category-img {
    object-fit: contain;
    width: 690px;
  }

  .product-overview .info {
    width: 570px;
  }

  .product-overview .headline {
    font-size: 40px;
    letter-spacing: 1.5px;
    line-height: 44px;
    padding: 0 4rem;
  }


}

@media screen and (min-width: 1200px) {
  .product-category .product-overview {
    flex-direction: row;
    gap: 2rem;
    margin: 4rem 0;
    width: 1160px;
  }


  .product-category .product-overview:nth-of-type(odd) {
    flex-direction: row-reverse;
  }

  .product-overview .img-container {
    height: 560px;
    width: 540px;
  }

  .product-overview .category-img {
    height: 560px;
    width: 540px;
  }

  .product-overview .info {
    display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;
    margin: 0;
    padding-left: 7rem;
    text-align: left;
  }

  .product-overview:nth-of-type(odd) .info {
    padding-right: 7rem;
    padding-left: 0;
  }

  .product-overview .sup-head {
    margin-bottom: 1rem;
  }

  .product-overview .headline {
    margin: 0;
    padding: 0;
    padding-right: 4rem;
  }

  .product-overview  .sub-head {
    margin: 2rem 0;
  }


}