.tall-teaser {
  background: url(../../assets/home/desktop/pattern-circles.svg);
  /* background-clip: content-box; */
  background-color: #D87D4A;
  background-position-x: center;
  background-position-y: -120px;
  background-repeat: no-repeat;
  background-size: 558px;
  border-radius: 8px;
  color: #FFFFFF;
  display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
  height: 600px;
  margin: 1.5rem;
  padding: 1.5rem;
  text-align: center;
  width: clamp(300px, 87.5%, 450px);
}

.tall-teaser .teaser-img {
  background: url('../../assets/home/mobile/image-speaker-zx9.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  height: 200px;
  margin-bottom: 20px;
  width: 165px;
}

.tall-teaser-info {
  display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1.5rem;
    justify-content: center;
}

.tall-teaser .title {
  font-size: 36px;
  font-weight: 700;
  letter-spacing: 3px;
  line-height: 40px;
}

.tall-teaser .title span {
  display: block;
}

.tall-teaser .tagline {
  font-size: 15px;
  line-height: 25px;
  opacity: 75%;
}

.tall-teaser button {
  background-color: black;
  border: none;
  color: #FFFFFF;
  cursor: pointer;
  font-size: 13px;
  font-weight: 700;
  height: 48px;
  letter-spacing: 1px;
  line-height: 18px;
  width: 160px;
}

.tall-teaser button:hover {
  background-color: #4C4C4C;
}

@media screen and (min-width: 600px) {
  .tall-teaser {
    background-position-y: -300px;
    background-size: 950px;
    gap: 2rem;
    height: 720px;
    margin: 0;
    padding: 0 11rem;
    width: clamp(300px, 92.5%, 750px);
  }

  .tall-teaser .teaser-img {
    background: url('../../assets/home/tablet/image-speaker-zx9.png');
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 230px;
    width: 190px;
  }

  .tall-teaser-info {
    gap: 2rem;
  }

  .tall-teaser .title {
    font-size: 56px;
    line-height: 58px;
    /* margin-top: 1rem; */
  }

  .tall-teaser button {
    margin-bottom: 1.5rem;
  }
}

@media screen and (min-width: 1200px) {
  .tall-teaser {
    background-position: -150px -70px;
    background-size: 975px;
    height: 560px;
    overflow: hidden;
    padding: 0 7rem;
    position: relative;
    text-align: left;
    width: clamp(900px, 80%, 1200px);
  }

  .tall-teaser .teaser-img {
    background: url('../../assets/home/desktop/image-speaker-zx9.png');
    background-repeat: no-repeat;
    background-size: contain;
    height: 480px;
    margin-bottom: 0;
    position: absolute;
      bottom: -2.5%;
      left: 12.5%;
    width: 390px;
  }

  .tall-teaser-info {
    align-items: flex-start;
    margin-left: auto;
    width: clamp(350px, 35%, 500px);
  }


}